<script>function update_toolbar(){$("#sidenav").find(".active").each(function(i, ele) {$(ele).removeClass("active");});}</script>
<h1>Archive</h1>
<hr/>
<nav class="nav navbar-left nav-bar" id="sidenav">
  <% items.forEach(function(item) { %>
    <li><a id="tab-images" data-toggle="tab" href="#card-<%= item.prefix %>" onclick="update_toolbar()"><%= item.name %></a></li>
  <% }) %>
  <li><a id="tab-images" href="/archive/new">New Archive</a></li>
</nav>
<div class="container">
  <div class="tab-content content-card">
    <% items.forEach(function(item) { %>
      <div class="tab-pane" id="card-<%= item.prefix %>">
        <h3><%= item.name %></h3>
        <p><%= item.description %></p>
        <% if(item.repo) { %>
          <a href="<%= item.repo %>">Repository</a>
        <% } %>
        <% item.downloads.forEach(function(download) { %>
          <a href="<%= download.url %>">Download <%= download.name %></a>
          <br />
        <% }) %>
        <br/>
      </div>
    <% }) %>
  </div>
</div>
