extends ../layout

block head
  script.
    function update_toolbar(){$("#sidenav").find(".active").each(function(i, ele) {$(ele).removeClass("active");});}

block content
    h1 Archive
    hr
    nav#sidenav.nav.navbar-left.nav-bar
      each item in items
        li
          a#tab-images(data-toggle='tab', href='#card-#{item.name}', onclick="update_toolbar()") #{item.name}
      if session.user && session.user.admin
        li
          a#tab-images(href='/archive/new') New Archive
    .container
      .tab-content.content-card
        each item in items
          div(id='card-#{item.name}' class='tab-pane')
            if session.user && session.user.admin
              .archive-edit
                a(href="/archive/#{item.name}/edit").btn.btn-default.centered Edit
            h3= item.name
            p= item.description
            each dl in item.downloads
              a(href='#{dl.url}') Download #{dl.name}
              br
