<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <nav id="nav" class="nav navbar-nav">
            <li>
                <a class="navbar-brand">Dallen</a>
            </li>
            <li id="home">
                <a href="/">Home</a>
            </li>
            <% projectTypes.forEach(function(type) { %>
                <li id="<%= type.prefix %>-drop" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="btn-prj-drop">
                        <%= type.title %>&nbsp;
                        <b class="caret">&nbsp;</b>
                    </a>
                    <ul id="drop" class="dropdown-menu dropdown-menu-one-column">
                        <% type.projects.forEach(function(prj) { %>
                            <li id="<%= prj.name %>">
                                <a href="<%= prj.getPath(type) %>"><%= prj.name %></a>
                            </li>
                        <% }); %>
                        <% if(session.user && session.user.admin) { %>
                            <li id="new">
                                <a href="/projects/<%= type.prefix %>/new">New Project</a>
                            </li>
                        <% } %>
                    </ul>
                </li>
            <% }) %>
            <li id="archives">
                <a href="/archive">Archives</a>
            </li>
            <% if(session.user && session.user.admin) { %>
                <li id="new-project-type">
                    <a href="/project-type/new">New Project Type</a>
                </li>
            <% } %>
        </nav>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/login?continue=" id="login">
                    <% if(session.user) { %>
                        <span class="glyphicon glyphicon-log-out"></span>Logout <%= session.user.name %>
                    <% } else { %>
                        <span class="glyphicon glyphicon-log-in"></span>Login
                    <% } %>
                </a>
            </li>
        </ul>
    </div>
</header>