extends ../layout

block head
  script.
    function update_toolbar(){$("#sidenav").find(".active").each(function(i, ele) {$(ele).removeClass("active");});}

block content
    .container
        h1 Dallen&apos;s Simple and Silly Games!
        hr
        nav#sidenav.nav.navbar-left
            each game in GLOBAL.games
                - var DispName = game.name.replace(new RegExp('-', 'g'), ' ')
                li
                    a(data-toggle='tab', href='#games-#{game.name}', onclick='update_toolbar()' id='tab-#{game.name}') #{game.name}
        .container
          .tab-content
             each game in GLOBAL.games
                 div(id='games-#{game.name}').tab-pane.fade
                    h3= game.name
                    p= game.blurb
                    if game.path
                        if game.version
                            - var versions = game.version.split(',')
                            each v in versions
                                br
                                a(href='#{game.path}#{v}.#{game.extension}' download) download #{game.name} verison #{v}
                        else
                            a(href='#{game.path}.#{game.extension}' download) download #{game.name}
                    else
                        p This game does not currently have a download link, sorry.
