extends ../layout

block content
    h1(align='center') Maps
    div(align='center')
      each m in maps
        if map == m
          a(onClick='MapController("#{m}", this);').btn.btn-default.active#mapbtn #{m}
        else
          a(onClick='MapController("#{m}", this);').btn.btn-default#mapbtn #{m}
    br
    iframe(src="/Maps/html/#{map}.html")#mapFrame
